
<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt 10">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <div class="text-center">
                        <h1 >HARNESSING WORLD-CLASS TECHNOLOGY</h1>
                        <h1 >CREATING BOUNDLESS IMPACT</h1>
                    </div>
                   
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 mb-5">
                    <div class="row">
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                            <img src="https://www.nestdigital.com/images/inspiration.png">
                            <h1 class="mt-4">WHO WE ARE & WHAT WE DO</h1>
                            <h3 class="mt-3">Engineering Transformation</h3>
                            <p class="mt-3">NeST Digital is the software arm of the globally trusted NeST Group of companies.<br>We combine our Specialized Manufacturing Services, Engineering Design and<br>Software Services under one roof to provide transformative turnkey solutions to<br>customers.</p>
                        </div>

                        
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                            <img src="https://www.nestdigital.com/images/value.png">
                            <h1 class="mt-4">WHAT WE BELIEVE</h1>
                            <h3 class="mt-3">Our core values make us who we are today</h3>
                            <p class="mt-3">Our purpose and principles have shaped us into who we are today and they enable<br>us to strive for greater heights. Every decision we make is closely aligned with our<br>principles. These help us raise our bar, dive deep into challenges to achieve game-<br>changing outcomes.</p>
                        </div>

                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">

                            <i style="font-size:2.5rem;" class="fa-regular fa-gem"></i>
                            <img src="https://www.nestdigital.com/images/logo_our_story.png">
                            
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                            <h1>&nbsp;</h1>

                           <p>NeST Digital, a subsidiary of the NeST Group, has been transforming businesses, providing customized and innovative software solutions and services for our customers across the globe.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
