
<app-ad-navbar></app-ad-navbar>
<div class="container">
  <div class="row mt-4">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          
        </div>

        <ng-container *ngIf="loading; then loadingScreen; else dataScreen"></ng-container>
                  <ng-template #loadingScreen>
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </ng-template>


                  <ng-template #dataScreen>
        <ng-container *ngFor="let i of friends">
          <ng-container
          *ngIf="i.name!=null && i.friendName!=null && i.DescribeYourFriend!=null && i.friendNickName!=null">
            <ng-container
            *ngIf="i.name!='' && i.friendName!='' && i.DescribeYourFriend!='' && i.friendNickName!=''">
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                  <div class="card-body text-center">
                    <img src="" class="rounded-circle mb-3"
                      >
                    <h5 style="height:2rem;" class="mb-2"><strong>{{i.name}}</strong></h5>
                    <p style="height:1rem;" class="text-muted">Friend Name: {{i.friendName}}</p>
                    <p style="height:1rem;" class="text-muted">Description: {{i.DescribeYourFriend}}</p>
                    <p style="height:1rem;" class="text-muted">NickName: {{i.friendNickName}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>


      </div>
    </div>
  </div>