<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 mb-5">
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mb-5">
                            <h1>Industries</h1>
                        </div>
                        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">
                            <i style="font-size:2.5rem;" class="fa-solid fa-car mb-3"></i>
                            <h5>Transportation</h5>
                        </div>
                        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">
                            <i style="font-size:2.5rem;" class="fa-solid fa-suitcase-medical mb-3"></i>
                            <h5>HealthCare</h5>
                        </div>
                        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">
                            <i style="font-size:2.5rem;" class="fa-solid fa-building-columns mb-3"></i>
                            <h5>BFSI</h5>
                        </div>
                        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">
                            <i style="font-size:2.5rem;" class="fa-solid fa-industry mb-3"></i>
                            <h5>Power & Industrial</h5>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>